body {
  background: linear-gradient(135deg, #9ef8fe, #b3f088);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  width: 350px;
}

h2,
h3,
h4 {
  text-align: center;
  color: #333;
}

.balance h1 {
  text-align: center;
  color: #111;
}

.summary {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.summary div {
  text-align: center;
  width: 48%;
}

.summary h4 {
  margin-bottom: 5px;
}

#income {
  color: green;
  font-weight: bold;
}

#expense {
  color: red;
  font-weight: bold;
}

.form-control {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #45a049;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.list li {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  margin: 5px 0;
  border-right: 5px solid;
  border-radius: 6px;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 6px;
}
